* {
    box-sizing: border-box;
    color: white;

}

body {
    margin:0;
    background-color: rgb(65, 65, 65);
    
}

a:link, :visited {
    text-decoration: none;
    color: rgb(102, 102, 102);
}

p, li, h5, b {
    color: rgba(255, 255, 255, 0.616);
}

.startsida {
    position: absolute;
    left: 25px;
    top:25px;
}

h3 {
    margin:0;
}
.white {
    color:white;
}

header {
    display: flex;
    margin-top: 20px;
    margin-left:20px;
    margin-right:20px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.45);

}

.rubrik {
    width: 500px;
    height:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 260px;
}


h1 {
    font-size: 30px;
    color: rgba(150, 133, 93, 0.87);
}

.rubrik > h1 {
    font-size: 45px;
}


main {
    display:flex;
}

#name {
    color: rgb(138, 108, 33);
}


.workExperienceTitle {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
    padding:25px;
    min-width: 270px;
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 10px rgb(65, 65, 65);
}

.competence {
    display: flex;
    flex-direction: column;
    margin-top: 20px;  
    width: 50%;
    margin-right: 20px;
    margin-left: 20px;
    padding:25px;
    min-width: 270px;
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 10px rgb(65, 65, 65);
}

p {
    margin:0;
    font-size: 16px;
}

h5 {
    margin-top: 0;
}

.containerlogo {
    width: 100px;
    margin-top: 20px;
}

img {
    width: 100%;
    height: auto;
}

h4 {
    margin-bottom: 2px;
    margin-top: 2px;
}

footer {

    height: 150px;
    background-color: rgba(0, 0, 0, 0.45);
    margin-right:20px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 935px) {

header {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
}

main {
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.workExperienceTitle {
    width: 100%;
}

.competence {
width: 100%;
}

footer {
    margin-left:0px;
    margin-right: 0px;
    
}

.startsida {
    top:5px;
    left:5px;
}
}
   

@media screen and (max-width: 750px) {

.rubrik    {
        justify-content: center;
    }
}


@media screen and (max-width: 350px) {

.rubrik > h1 {
    font-size: 30px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;    
}

h3 {
    font-size: 18px;
}

}